In [3]:
import atoti as tt

Welcome to Atoti 0.8.10!

By using this community edition, you agree with the license available at https://docs.atoti.io/latest/eula.html.
Browse the official documentation at https://docs.atoti.io.
Join the community at https://www.atoti.io/register.

Atoti collects telemetry data, which is used to help understand how to improve the product.
If you don't wish to send usage data, you can request a trial license at https://www.atoti.io/evaluation-license-request.

You can hide this message by setting the `ATOTI_HIDE_EULA_MESSAGE` environment variable to True.

**Create an Atoti session:**

In [4]:
session = tt.Session(
    user_content_storage=".content",
    port=9092,
    java_options=["-Xms1G", "-Xmx10G"]
)

**1(1). Connect to "Olympic_Medals_Count" PostgreSQL Database:**

In [3]:
db_name = "Olympic_Medals_Count"
db_user = "postgres"
db_password = "postgres"  
db_host = "pgdb"  
db_port = "5432"

jdbc_url = f"jdbc:postgresql://{db_host}:{db_port}/{db_name}?user={db_user}&password={db_password}"

**1(2). Load Data to Atoti:**

In [4]:
# Fact table:
medals_count_fact_table = session.read_sql(
    "SELECT * FROM fact_medals_count",
    keys=["Medals Fact ID"],
    table_name="fact_medals_count",
    url=jdbc_url,
)

In [5]:
medals_count_fact_table.head()

,Game Year ID,Athlete ID,Medal Type ID,Location ID,Olympic Game ID,Discipline ID,medal_count
Medals Fact ID,,,,,,,
48,1,37,3,17,1,15,1
9,1,7,3,3,1,2,1
58,1,7,1,6,1,19,1
21,1,16,2,8,1,6,1
71,1,7,2,20,1,23,1

In [6]:
# Firsrt dimension table
time_dimension_table = session.read_sql(
    "SELECT * FROM dim_time",
    keys=["Game Year ID"],
    table_name="dim_time",
    url=jdbc_url,
)

In [7]:
time_dimension_table.head()

             Game Year
Game Year ID
4                 2016
14                1996
29                1932
5                 2014
30                1928

In [8]:
# Second dimension table:
olympic_game_dimension_table = session.read_sql(
    "SELECT * FROM dim_olympic_game",
    keys=["Olympic Game ID"],
    table_name="dim_olympic_game",
    url=jdbc_url,
)

In [9]:
olympic_game_dimension_table.head()

                Game Season    Slug Game
Olympic Game ID
12                   Summer  sydney-2000
40                   Summer  berlin-1936
22                   Summer  moscow-1980
50                   Summer  london-1908
32                   Summer    rome-1960

In [10]:
# Third dimension table:
medal_type_dimension_table = session.read_sql(
    "SELECT * FROM dim_medal_types",
    keys=["Medal Type ID"],
    table_name="dim_medal_types",
    url=jdbc_url,
)

In [11]:
medal_type_dimension_table.head()

              Medal Type
Medal Type ID
2                 SILVER
1                   GOLD
3                 BRONZE

In [12]:
# Forth dimension table:
location_dimension_table = session.read_sql(
    "SELECT * FROM dim_location",
    keys=["Location ID"],
    table_name="dim_location",
    url=jdbc_url,
)

In [13]:
location_dimension_table.head()

            Continent  Country Name
Location ID
9             Unknown           ROC
19             Europe       Hungary
47             Africa         Ghana
57             Africa  South Africa
130           Oceania         Tonga

In [14]:
# Fifth dimension table:
discipline_dimension_table = session.read_sql(
    "SELECT * FROM dim_discipline",
    keys=["Discipline ID"],
    table_name="dim_discipline",
    url=jdbc_url,
)

In [15]:
discipline_dimension_table.head()

,Discipline Title,Participant Type,Event Gender,Event Title
Discipline ID,,,,
9,Freestyle Skiing,Athlete,Women,Women's Moguls
40,Ski Jumping,Athlete,Women,Women's NH Individual
19,Short Track Speed Skating,GameTeam,Men,Men's 5000m Relay
29,Snowboard,Athlete,Men,Men's Parallel Giant Slalom
101,Speed skating,Athlete,Women,Women's 500m

In [16]:
# Sixth dimension table:
athlete_dimension_table = session.read_sql(
    "SELECT * FROM dim_athlete",
    keys=["Athlete ID"],
    table_name="dim_athlete",
    url=jdbc_url,
)

In [17]:
athlete_dimension_table.head()

           Athlete Full Name
Athlete ID
8           Mikael KINGSBURY
215          Lukas GREIDERER
18                 Alex FIVA
28             Daniela MAIER
38          Nicholas GOEPPER

**1(3). Implement a Star Schema by joining the above 7 tables:**

In [18]:
medals_count_fact_table.join(time_dimension_table, medals_count_fact_table["Game Year ID"] == time_dimension_table["Game Year ID"])

In [19]:
medals_count_fact_table.join(olympic_game_dimension_table, medals_count_fact_table["Olympic Game ID"] == olympic_game_dimension_table["Olympic Game ID"])

In [20]:
medals_count_fact_table.join(medal_type_dimension_table, medals_count_fact_table["Medal Type ID"] == medal_type_dimension_table["Medal Type ID"])

In [21]:
medals_count_fact_table.join(location_dimension_table, medals_count_fact_table["Location ID"] == location_dimension_table["Location ID"])

In [22]:
medals_count_fact_table.join(discipline_dimension_table, medals_count_fact_table["Discipline ID"] == discipline_dimension_table["Discipline ID"])

In [23]:
medals_count_fact_table.join(athlete_dimension_table, medals_count_fact_table["Athlete ID"] == athlete_dimension_table["Athlete ID"])

In [24]:
# Draw the star schema:
session.tables.schema

erDiagram
  "dim_time" {
    _ int PK "Game Year ID"
    _ String "Game Year"
  }
  "dim_location" {
    _ int PK "Location ID"
    _ String "Continent"
    _ String "Country Name"
  }
  "fact_medals_count" {
    _ int PK "Medals Fact ID"
    nullable int "Game Year ID"
    nullable int "Athlete ID"
    nullable int "Medal Type ID"
    nullable int "Location ID"
    nullable int "Olympic Game ID"
    nullable int "Discipline ID"
    nullable int "medal_count"
  }
  "dim_medal_types" {
    _ int PK "Medal Type ID"
    _ String "Medal Type"
  }
  "dim_discipline" {
    _ int PK "Discipline ID"
    _ String "Discipline Title"
    _ String "Participant Type"
    _ String "Event Gender"
    _ String "Event Title"
  }
  "dim_athlete" {
    _ int PK "Athlete ID"
    _ String "Athlete Full Name"
  }
  "dim_olympic_game" {
    _ int PK "Olympic Game ID"
    _ String "Game Season"
    _ String "Slug Game"
  }
  "fact_medals_count" }o--o| "dim_medal_types" : "`Medal Type ID` == `Medal Type ID`"
  "fact_medals_count" }o--o| "dim_discipline" : "`Discipline ID` == `Discipline ID`"
  "fact_medals_count" }o--o| "dim_location" : "`Location ID` == `Location ID`"
  "fact_medals_count" }o--o| "dim_time" : "`Game Year ID` == `Game Year ID`"
  "fact_medals_count" }o--o| "dim_athlete" : "`Athlete ID` == `Athlete ID`"
  "fact_medals_count" }o--o| "dim_olympic_game" : "`Olympic Game ID` == `Olympic Game ID`"

**1(4). Create a cube:**

In [25]:
cube = session.create_cube(medals_count_fact_table)

In [26]:
cube

**1(5). Create hierarchies:**

In [27]:
hierarchies, levels, measures = cube.hierarchies, cube.levels, cube.measures

**1(6). Check hierarchies:**

In [28]:
hierarchies

{('dim_olympic_game', 'Slug Game'): <atoti.hierarchy.Hierarchy object at 0x7fffac513010>, ('dim_time', 'Game Year'): <atoti.hierarchy.Hierarchy object at 0x7fffac512a90>, ('dim_olympic_game', 'Game Season'): <atoti.hierarchy.Hierarchy object at 0x7fffac513bd0>, ('dim_discipline', 'Event Title'): <atoti.hierarchy.Hierarchy object at 0x7fffac512e90>, ('dim_discipline', 'Event Gender'): <atoti.hierarchy.Hierarchy object at 0x7fffac512c90>, ('fact_medals_count', 'Medals Fact ID'): <atoti.hierarchy.Hierarchy object at 0x7fffac510b10>, ('dim_location', 'Continent'): <atoti.hierarchy.Hierarchy object at 0x7fffac510a10>, ('dim_medal_types', 'Medal Type'): <atoti.hierarchy.Hierarchy object at 0x7fffac510f50>, ('dim_athlete', 'Athlete Full Name'): <atoti.hierarchy.Hierarchy object at 0x7fffac510d50>, ('dim_discipline', 'Participant Type'): <atoti.hierarchy.Hierarchy object at 0x7fffac505350>, ('dim_location', 'Country Name'): <atoti.hierarchy.Hierarchy object at 0x7fffac506cd0>, ('dim_discipline', 'Discipline Title'): <atoti.hierarchy.Hierarchy object at 0x7fffac504450>}

**1(7). Check levels:**

In [29]:
levels

**1(8). Check measures:**

In [30]:
measures

{'contributors.COUNT': <atoti.measure.Measure object at 0x7fffac34b790>, 'update.TIMESTAMP': <atoti.measure.Measure object at 0x7fffac34b810>, 'Athlete ID.SUM': <atoti.measure.Measure object at 0x7fffac34b850>, 'Athlete ID.MEAN': <atoti.measure.Measure object at 0x7fffac34b890>, 'Game Year ID.SUM': <atoti.measure.Measure object at 0x7fffac34b8d0>, 'Game Year ID.MEAN': <atoti.measure.Measure object at 0x7fffac34b910>, 'Medal Type ID.SUM': <atoti.measure.Measure object at 0x7fffac34b950>, 'Medal Type ID.MEAN': <atoti.measure.Measure object at 0x7fffac34b990>, 'Discipline ID.SUM': <atoti.measure.Measure object at 0x7fffac34b9d0>, 'Discipline ID.MEAN': <atoti.measure.Measure object at 0x7fffac34ba10>, 'Olympic Game ID.SUM': <atoti.measure.Measure object at 0x7fffac34ba50>, 'Olympic Game ID.MEAN': <atoti.measure.Measure object at 0x7fffac34ba90>, 'Location ID.SUM': <atoti.measure.Measure object at 0x7fffac34bad0>, 'Location ID.MEAN': <atoti.measure.Measure object at 0x7fffac34bb10>, 'medal_count.SUM': <atoti.measure.Measure object at 0x7fffac34bb50>, 'medal_count.MEAN': <atoti.measure.Measure object at 0x7fffac34bb90>}

**1(9). Fix errors that exist in the current hierarchies:**

In [31]:
# Right hierarchies of the cube:
# dim_athlete: Athlete Full Name
# dim_discipline: Discipline Title, Participant Type, Event Gender, Event Title
# dim_location: Continent, Country Name
# dim_medal_types: Medal Type
# dim_olympic_game: Game Season, Slug Game
# dim_time: Game Year

In [32]:
hierarchies["dim_athlete"] = [levels["Athlete Full Name"]]

In [33]:
hierarchies["dim_discipline"] = [levels["Discipline Title"], levels["Participant Type"], levels["Event Gender"], levels["Event Title"]]

In [34]:
hierarchies["dim_location"] = [levels["Continent"], levels["Country Name"]]

In [35]:
hierarchies["dim_medal_types"] = [levels["Medal Type"]]

In [36]:
hierarchies["dim_olympic_game"] = [levels["Game Season"], levels["Slug Game"]]

In [37]:
hierarchies["dim_time"] = [levels["Game Year"]]

In [38]:
hierarchies

{('dim_location', 'dim_location'): <atoti.hierarchy.Hierarchy object at 0x7fffac363250>, ('fact_medals_count', 'Medals Fact ID'): <atoti.hierarchy.Hierarchy object at 0x7fffac363510>, ('dim_medal_types', 'Medal Type'): <atoti.hierarchy.Hierarchy object at 0x7fffac363650>, ('dim_time', 'dim_time'): <atoti.hierarchy.Hierarchy object at 0x7fffac363790>, ('dim_location', 'Country Name'): <atoti.hierarchy.Hierarchy object at 0x7fffac3638d0>, ('dim_discipline', 'Discipline Title'): <atoti.hierarchy.Hierarchy object at 0x7fffac363a10>, ('dim_olympic_game', 'Slug Game'): <atoti.hierarchy.Hierarchy object at 0x7fffac363b50>, ('dim_time', 'Game Year'): <atoti.hierarchy.Hierarchy object at 0x7fffac363c90>, ('dim_olympic_game', 'Game Season'): <atoti.hierarchy.Hierarchy object at 0x7fffac363dd0>, ('dim_discipline', 'Event Title'): <atoti.hierarchy.Hierarchy object at 0x7fffac363f10>, ('dim_discipline', 'Event Gender'): <atoti.hierarchy.Hierarchy object at 0x7fffac36c090>, ('dim_athlete', 'dim_athlete'): <atoti.hierarchy.Hierarchy object at 0x7fffac36c1d0>, ('dim_location', 'Continent'): <atoti.hierarchy.Hierarchy object at 0x7fffac36c310>, ('dim_athlete', 'Athlete Full Name'): <atoti.hierarchy.Hierarchy object at 0x7fffac36c450>, ('dim_discipline', 'Participant Type'): <atoti.hierarchy.Hierarchy object at 0x7fffac36c590>, ('dim_medal_types', 'dim_medal_types'): <atoti.hierarchy.Hierarchy object at 0x7fffac36c6d0>, ('dim_discipline', 'dim_discipline'): <atoti.hierarchy.Hierarchy object at 0x7fffac36c810>, ('dim_olympic_game', 'dim_olympic_game'): <atoti.hierarchy.Hierarchy object at 0x7fffac36cb90>}

**1(10). Clean hierarchies that we don't need:**

In [39]:
# clean dim_athlete
del hierarchies[("dim_athlete", "Athlete Full Name")]

In [40]:
# clean dim_discipline
del hierarchies[("dim_discipline", "Discipline Title")]
del hierarchies[("dim_discipline", "Event Gender")]
del hierarchies[("dim_discipline", "Event Title")]
del hierarchies[("dim_discipline", "Participant Type")]

In [41]:
# clean dim_location
del hierarchies[("dim_location", "Continent")]
del hierarchies[("dim_location", "Country Name")]

In [42]:
# clean dim_medal_types
del hierarchies[("dim_medal_types", "Medal Type")]

In [43]:
# clean dim_olympic_game
del hierarchies[("dim_olympic_game", "Game Season")]
del hierarchies[("dim_olympic_game", "Slug Game")]

In [44]:
# clean dim_time
del hierarchies[("dim_time", "Game Year")]

In [45]:
# clean fact_medals_count
del hierarchies[("fact_medals_count", "Medals Fact ID")]

In [46]:
hierarchies

{('dim_location', 'dim_location'): <atoti.hierarchy.Hierarchy object at 0x7fffac515d10>, ('dim_athlete', 'dim_athlete'): <atoti.hierarchy.Hierarchy object at 0x7fffac506310>, ('dim_medal_types', 'dim_medal_types'): <atoti.hierarchy.Hierarchy object at 0x7fffac5066d0>, ('dim_time', 'dim_time'): <atoti.hierarchy.Hierarchy object at 0x7fffac5065d0>, ('dim_discipline', 'dim_discipline'): <atoti.hierarchy.Hierarchy object at 0x7fffac507c50>, ('dim_olympic_game', 'dim_olympic_game'): <atoti.hierarchy.Hierarchy object at 0x7fffac507910>}

**1(11). Clean meaningless measures:**

In [47]:
# Clean measures
del measures["Athlete ID.MEAN"]
del measures["Athlete ID.SUM"]
del measures["Discipline ID.MEAN"]
del measures["Discipline ID.SUM"]
del measures["Game Year ID.MEAN"]
del measures["Game Year ID.SUM"]
del measures["Location ID.MEAN"]
del measures["Location ID.SUM"]
del measures["Medal Type ID.MEAN"]
del measures["Medal Type ID.SUM"]
del measures["Olympic Game ID.MEAN"]
del measures["Olympic Game ID.SUM"]
del measures["contributors.COUNT"]
del measures["medal_count.MEAN"]

In [48]:
measures

{'update.TIMESTAMP': <atoti.measure.Measure object at 0x7ffffc9772d0>, 'medal_count.SUM': <atoti.measure.Measure object at 0x7ffffc977a50>}

**1(12). Use atoti to visualise queries:**

**- Query 1. What is the trend of the number of medals won by China in the Summer Olympic Games over the various years available in the dataset:**

In [49]:
session.widget

Open the notebook in JupyterLab with the Atoti JupyterLab extension enabled to build this widget.

**- Query 1 Starnet:**

![starnet](query_1_starnet.png)

**- Query 2. Who is the Chinese individual female athlete who has won the most gold dedals in shooting discipline:**

In [50]:
session.widget

Open the notebook in JupyterLab with the Atoti JupyterLab extension enabled to build this widget.

**- Query 2 Starnet:**

![starnet](query_2_starnet.png)

**- Query 3. What is the discipline category in which China has won the most gold medals in Olympic history:**

In [51]:
session.widget

Open the notebook in JupyterLab with the Atoti JupyterLab extension enabled to build this widget.

**- Query 3 Starnet:**

![starnet](query_3_starnet.png)

**- Query 4. What is the trend of the number of medals won by Australia in the Winter Olympic Games over the various years available in the dataset:**

In [52]:
session.widget

Open the notebook in JupyterLab with the Atoti JupyterLab extension enabled to build this widget.

**- Query 4 Starnet:**

![starnet](query_4_starnet.png)

**- Query 5. Who are the Australian athletes who have won the most gold, silver medals respectively?**

In [53]:
session.widget

Open the notebook in JupyterLab with the Atoti JupyterLab extension enabled to build this widget.

**- Query 5 Starnet**

![starnet](query_5_starnet.png)

**- Query 6: How many medals have been won by the continent that includes Australia? Is Australia the country with the most medals on that continent?**

In [54]:
session.widget

Open the notebook in JupyterLab with the Atoti JupyterLab extension enabled to build this widget.

**- Query 6 Starnet:**

![starnet](query_6_starnet.png)

**2(1). Connect to "Mental_illness_DALYs" PostgreSQL Database:**

In [5]:
db_name = "Mental_Illness_DALYs"
db_user = "postgres"
db_password = "postgres"  
db_host = "pgdb"  
db_port = "5432"

jdbc_url = f"jdbc:postgresql://{db_host}:{db_port}/{db_name}?user={db_user}&password={db_password}"

**2(2). Load Data to Atoti:**

In [6]:
mental_illness_dalys_fact_table = session.read_sql(
    "SELECT * FROM fact_mental_illness_dalys",
    keys=["Mental Illness DALYs Fact ID"],
    table_name="fact_mental_illness_dalys",
    url=jdbc_url,
)

In [7]:
mental_illness_dalys_fact_table.head()

,Year ID,Mental Illness Location ID,Host Type ID,DALYs from depressive disorders,DALYs from schizophrenia,DALYs from bipolar disorder,DALYs from eating disorders,DALYs from anxiety disorders
Mental Illness DALYs Fact ID,,,,,,,,
4,4,1,1,816.3045,247.43527,239.99773,154.77351,523.8772
13,13,1,1,854.21747,247.34805,240.42636,180.90173,506.39133
18,18,1,1,881.80414,247.14334,241.90405,205.338,532.24396
31,1,2,1,725.3329,173.45541,238.74373,42.742077,556.50165
40,10,2,1,807.25366,173.15245,238.83531,43.346622,680.9381

In [8]:
year_dimension_table = session.read_sql(
    "SELECT * FROM dim_year",
    keys=["Year ID"],
    table_name="dim_year",
    url=jdbc_url,
)

In [9]:
year_dimension_table.head()

         Year
Year ID
25       2014
6        1995
16       2005
26       2015
7        1996

In [10]:
mental_illness_location_dimension_table = session.read_sql(
    "SELECT * FROM dim_mental_illness_location",
    keys=["Mental Illness Location ID"],
    table_name="dim_mental_illness_location",
    url=jdbc_url,
)

In [11]:
mental_illness_location_dimension_table.head()

                                Continent      Country
Mental Illness Location ID
9                                  Europe       Norway
10                                 Europe       Russia
1                                 Oceania    Australia
11                                   Asia  South Korea
2                           South America       Brazil

In [12]:
host_type_dimension_table = session.read_sql(
    "SELECT * FROM dim_host_types",
    keys=["Host Type ID"],
    table_name="dim_host_types",
    url=jdbc_url,
)

In [13]:
host_type_dimension_table.head()

                                                      Host Type
Host Type ID
2               Host Country of the Olympic Games for this year
1             Non-host Country of the Olympic Games for this...

**1(3). Implement a Star Schema by joining the above 4 tables:**

In [14]:
mental_illness_dalys_fact_table.join(year_dimension_table, mental_illness_dalys_fact_table["Year ID"] == year_dimension_table["Year ID"])

In [15]:
mental_illness_dalys_fact_table.join(mental_illness_location_dimension_table, mental_illness_dalys_fact_table["Mental Illness Location ID"] == 
                                     mental_illness_location_dimension_table["Mental Illness Location ID"])

In [16]:
mental_illness_dalys_fact_table.join(host_type_dimension_table, mental_illness_dalys_fact_table["Host Type ID"] == host_type_dimension_table["Host Type ID"])

In [17]:
# Draw a starnet schema:
session.tables.schema

erDiagram
  "fact_mental_illness_dalys" {
    _ int PK "Mental Illness DALYs Fact ID"
    nullable int "Year ID"
    nullable int "Mental Illness Location ID"
    nullable int "Host Type ID"
    nullable double "DALYs from depressive disorders"
    nullable double "DALYs from schizophrenia"
    nullable double "DALYs from bipolar disorder"
    nullable double "DALYs from eating disorders"
    nullable double "DALYs from anxiety disorders"
  }
  "dim_year" {
    _ int PK "Year ID"
    _ String "Year"
  }
  "dim_host_types" {
    _ int PK "Host Type ID"
    _ String "Host Type"
  }
  "dim_mental_illness_location" {
    _ int PK "Mental Illness Location ID"
    _ String "Continent"
    _ String "Country"
  }
  "fact_mental_illness_dalys" }o--o| "dim_host_types" : "`Host Type ID` == `Host Type ID`"
  "fact_mental_illness_dalys" }o--o| "dim_year" : "`Year ID` == `Year ID`"
  "fact_mental_illness_dalys" }o--o| "dim_mental_illness_location" : "`Mental Illness Location ID` == `Mental Illness Location ID`"

**2(4). Create a cube:**

In [18]:
cube = session.create_cube(mental_illness_dalys_fact_table)

In [19]:
cube

**2(5). Create hierarchies:**

In [20]:
hierarchies, levels, measures = cube.hierarchies, cube.levels, cube.measures

**2(6). Check hierarchies:**

In [21]:
hierarchies

{('fact_mental_illness_dalys', 'Mental Illness DALYs Fact ID'): <atoti.hierarchy.Hierarchy object at 0x7fffa8f7f450>, ('dim_year', 'Year'): <atoti.hierarchy.Hierarchy object at 0x7fffa8f3a750>, ('dim_mental_illness_location', 'Continent'): <atoti.hierarchy.Hierarchy object at 0x7fffa8f39010>, ('dim_host_types', 'Host Type'): <atoti.hierarchy.Hierarchy object at 0x7fffa8f39710>, ('dim_mental_illness_location', 'Country'): <atoti.hierarchy.Hierarchy object at 0x7fffa8f387d0>}

**2(7). Check levels:**

In [22]:
levels

**2(8). Check levels:**

In [23]:
measures

{'contributors.COUNT': <atoti.measure.Measure object at 0x7fffb00b4090>, 'update.TIMESTAMP': <atoti.measure.Measure object at 0x7fffb3cb5b90>, 'DALYs from schizophrenia.SUM': <atoti.measure.Measure object at 0x7fffa8f80650>, 'DALYs from schizophrenia.MEAN': <atoti.measure.Measure object at 0x7fffa8f80a50>, 'Host Type ID.SUM': <atoti.measure.Measure object at 0x7fffa8f81a90>, 'Host Type ID.MEAN': <atoti.measure.Measure object at 0x7fffa8f81e50>, 'Mental Illness Location ID.SUM': <atoti.measure.Measure object at 0x7fffa8f81250>, 'Mental Illness Location ID.MEAN': <atoti.measure.Measure object at 0x7fffa8f82910>, 'Year ID.SUM': <atoti.measure.Measure object at 0x7fffa8f82490>, 'Year ID.MEAN': <atoti.measure.Measure object at 0x7fffa8f831d0>, 'DALYs from eating disorders.SUM': <atoti.measure.Measure object at 0x7fffa8f81110>, 'DALYs from eating disorders.MEAN': <atoti.measure.Measure object at 0x7fffa8f83050>, 'DALYs from depressive disorders.SUM': <atoti.measure.Measure object at 0x7fffa8f830d0>, 'DALYs from depressive disorders.MEAN': <atoti.measure.Measure object at 0x7fffa8f81f10>, 'DALYs from bipolar disorder.SUM': <atoti.measure.Measure object at 0x7fffa8f83350>, 'DALYs from bipolar disorder.MEAN': <atoti.measure.Measure object at 0x7fffa8f837d0>, 'DALYs from anxiety disorders.SUM': <atoti.measure.Measure object at 0x7fffa8f832d0>, 'DALYs from anxiety disorders.MEAN': <atoti.measure.Measure object at 0x7fffa8f812d0>}

**2(9). Fix errors that exist in the current hierarchies:**

In [24]:
# # Right hierarchies of the cube:
# dim_host_types: Host Type
# dim_location: Continent, Country
# dim_year: Year

In [25]:
hierarchies["dim_host_types"] = [levels["Host Type"]]

In [26]:
hierarchies["dim_mental_illness_location"] = [levels["Continent"], levels["Country"]]

In [27]:
hierarchies["dim_year"] = [levels["Year"]]

In [28]:
hierarchies

{('fact_mental_illness_dalys', 'Mental Illness DALYs Fact ID'): <atoti.hierarchy.Hierarchy object at 0x7fffb00fc050>, ('dim_mental_illness_location', 'dim_mental_illness_location'): <atoti.hierarchy.Hierarchy object at 0x7fffa8f82f90>, ('dim_year', 'Year'): <atoti.hierarchy.Hierarchy object at 0x7fffb00fb750>, ('dim_host_types', 'dim_host_types'): <atoti.hierarchy.Hierarchy object at 0x7fffb00f8d90>, ('dim_mental_illness_location', 'Continent'): <atoti.hierarchy.Hierarchy object at 0x7fffb00fad10>, ('dim_year', 'dim_year'): <atoti.hierarchy.Hierarchy object at 0x7fffb00f8250>, ('dim_host_types', 'Host Type'): <atoti.hierarchy.Hierarchy object at 0x7fffb0099150>, ('dim_mental_illness_location', 'Country'): <atoti.hierarchy.Hierarchy object at 0x7ffffc978950>}

**2(10). Clean hierarchies that we don't need:**

In [29]:
# clean dim_host_types
del hierarchies[("dim_host_types", "Host Type")]

In [30]:
# clean dim_mental_illness_location
del hierarchies[("dim_mental_illness_location", "Continent")]
del hierarchies[("dim_mental_illness_location", "Country")]

In [31]:
# clean dim_year
del hierarchies[("dim_year", "Year")]

In [32]:
# clean fact_mental_illness_dalys
del hierarchies[("fact_mental_illness_dalys", "Mental Illness DALYs Fact ID")]

In [33]:
hierarchies

{('dim_mental_illness_location', 'dim_mental_illness_location'): <atoti.hierarchy.Hierarchy object at 0x7fffa8f4ab90>, ('dim_host_types', 'dim_host_types'): <atoti.hierarchy.Hierarchy object at 0x7fffa8f48810>, ('dim_year', 'dim_year'): <atoti.hierarchy.Hierarchy object at 0x7fffb00dad10>}

**2(11). Clean meaningless measures:**

In [34]:
# Clean measures
del measures["Host Type ID.MEAN"]
del measures["Host Type ID.SUM"]
del measures["Mental Illness Location ID.MEAN"]
del measures["Mental Illness Location ID.SUM"]
del measures["Year ID.MEAN"]
del measures["Year ID.SUM"]
del measures["contributors.COUNT"]

In [35]:
measures

{'update.TIMESTAMP': <atoti.measure.Measure object at 0x7fffa8f4aed0>, 'DALYs from schizophrenia.SUM': <atoti.measure.Measure object at 0x7fffa8f48910>, 'DALYs from schizophrenia.MEAN': <atoti.measure.Measure object at 0x7fffa8f4add0>, 'DALYs from eating disorders.SUM': <atoti.measure.Measure object at 0x7fffa8f4a590>, 'DALYs from eating disorders.MEAN': <atoti.measure.Measure object at 0x7fffa8f4bcd0>, 'DALYs from depressive disorders.SUM': <atoti.measure.Measure object at 0x7fffa8f4b7d0>, 'DALYs from depressive disorders.MEAN': <atoti.measure.Measure object at 0x7fffa8f4ab10>, 'DALYs from bipolar disorder.SUM': <atoti.measure.Measure object at 0x7fffa8f499d0>, 'DALYs from bipolar disorder.MEAN': <atoti.measure.Measure object at 0x7fffa8f4b6d0>, 'DALYs from anxiety disorders.SUM': <atoti.measure.Measure object at 0x7fffa8f48650>, 'DALYs from anxiety disorders.MEAN': <atoti.measure.Measure object at 0x7fffa8f4b350>}

**2(12). Use atoti to visualise queries:**

**- Query 7: What is the difference in disability-adjusted life years (DALYs) due to depression disorders in Australia when it is hosting the Olympics compared to when it is not:**

In [36]:
session.widget

Open the notebook in JupyterLab with the Atoti JupyterLab extension enabled to build this widget.

**- Query 7 Starnet:**

![starnet](query_7_starnet.png)

**- Query 8. Which mental disorder results in the lowest disability-adjusted life years (DALYs) in Australia when it is hosting the Olympics:**

In [37]:
session.widget

Open the notebook in JupyterLab with the Atoti JupyterLab extension enabled to build this widget.

**- Query 8 Starnet:**

![starnet](query_8_starnet.png)

**- Query 9: What is the difference in disability-adjusted life years (DALYs) due to depression disorders and eating disorders in China when it is hosting the Olympics:**

In [38]:
session.widget

Open the notebook in JupyterLab with the Atoti JupyterLab extension enabled to build this widget.

**- Query 9 Starnet:**

![starnet](query_9_starnet.png)

**- Query 10. Which mental disorder results in the highest disability-adjusted life years (DALYs) in China when it is not hosting the Olympics:**

In [39]:
session.widget

Open the notebook in JupyterLab with the Atoti JupyterLab extension enabled to build this widget.

**- Query 10 Starnet:**

![starnet](query_10_starnet.png)